@mixin transition($val) {
  -webkit-transition: opacity $val ease-in-out!important;
  -moz-transition: opacity $val ease-in-out!important;
  -ms-transition: opacity $val ease-in-out!important;
  -o-transition: opacity $val ease-in-out!important;
}

@mixin unselectable($val) {
  user-select: $val;
  -moz-user-select: $val;
  -khtml-user-select: $val;
  -webkit-user-select: $val;
  -o-user-select: $val;
}

body {
  overflow-y: scroll;
  #loader-wrapper {
    @include transition(1s);
    opacity: 1!important;
  }
  #modal1 { max-height: 511.688px!important; }
  tr.showEmp:hover { cursor: pointer; background-color: #000 }
  td { border-radius: 0px!important; }
}
.donught-wrap {
  width: 65%;
}
#doughnut-chart-wrapper {
  margin: 2% 0;
}
body.loaded #loader-wrapper {
  display: none!important;
}
select {
  display: block!important;
}
.drpDown {
  position: relative!important;
  top: -60px!important;
}
.positionPanel, .evntDesc, .trending-bar-chart-wrapper {
  display: none;
}
.positionBtn i {
  @include unselectable(none);
}
.positionPanel {
  margin-top: -13px!important;
  i {
    @include unselectable(none);
  }
}
.addLbl {
  position: relative;
  top: -4px;
}
.mb40 {
  margin-bottom: 40px;
}
.next.disabled a, .countpager.disabled a, .prev.disabled a {
  pointer-events: none;
}
.spinnerLoader {
    position: fixed; top: 40%; left: 50%; ;
  img { display: none; height: 80px }
}
.spinnerLoaderDash {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  img { width: 45px; }
}
.registered {
  position:relative;
  &:before {
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 25px;
    background-color: #2980b9;
    content: '';
  }
}
.pending {
  @extend .registered;
    &:before {
      background-color: #27ae60;
  }
}
.fc-event-container {
  .optionED { display: none; margin: 0!important; width: 50%; float: right; text-align: right;
    li {
      padding: 2px 4px 2px 0; border-bottom: 1px solid transparent;
      a  { color: #666; font-size: 13px;
        i { font-size: 13px; }
      }
    }
    li:hover { border-bottom: 1px solid #ccc;
      a { color: #0097a7; }
    }
  }
  .fc-content {
    ul li {
      padding: 5px;
      background-color: 000;
      color: #fff;
    }
  }
}
