body #loader-wrapper {
  opacity: 1!important;
}

body.loaded #loader-wrapper {
  -webkit-transition: opacity 1s ease-in-out!important;
  -moz-transition: opacity 1s ease-in-out!important;
  -ms-transition: opacity 1s ease-in-out!important;
  -o-transition: opacity 1s ease-in-out!important;
  opacity: 0!important;
}


.spinnerLoader {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  img { width: 45px; }
}

.evntDesc {
  display: none;
}

.fc-event-container {
  .optionED { display: none; margin: 0!important; width: 50%; float: right; text-align: right;
    li {
      padding: 2px 4px 2px 0; border-bottom: 1px solid transparent;
      a  { color: #666; font-size: 13px;
        i { font-size: 13px; }
      }
    }
    li:hover { border-bottom: 1px solid #ccc;
      a { color: #0097a7; }
    }
  }
  .fc-content {
    ul li {
      padding: 5px;
      background-color: 000;
      color: #fff;
    }
  }
}
